* {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
#app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

table,
tbody,
thead th {
  border: 1px dotted black;
}

thead tr,
tbody tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

tbody tr:nth-child(odd) {
  background-color: #e2e0e0;
}
